section .shelves-down {
    background-color: var(--clr-shelves);
    width: 100%;
    border-radius: 10px;
    margin: 0 0 25px 0;
    overflow: hidden;
}

section .shelves-down .shelve-title {
    padding: 5px 9px 0;
}

section .shelves-down .shelve-title a {
    font-weight: 500;
    font-size: calc(20px + 1.5vw);
    color: var(--clr-font);
}

section .shelves-down .shelve-title a:hover,
section .items-down-scroller .item-cards-down:hover div.item-description h4 {
    color: var(--clr-font-hover);
    transition: .2s;
}

section .items-down-scroller {
    display: grid;
    gap: 9px;
    grid-auto-flow: column;
    grid-auto-columns: 22.2%;
    padding: 5px 9px 16px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 9px;
    height: 100%;
    outline: none;
}